{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <section id="blog">
                <div class="container">
                    <div class="blog block post-content-area padd15">
                        <h3>Système Intégré de Gestion de l'Aide Public (SIGAP)</h3>
                        <img src="/images/projects/sigap/img-001.png" alt="">
                        <p>
                            L’objectif de la mise en place de ce système est le développement du système Intégré de Gestion de l’Aide Publique au Mali (SIGAP).
                            <br><br>
                            Ma mission a consisté à :
                            <br><br>
                            <table>
                                <tr>
                                    <td style="width: 35px">
                                        <i class="fa fa-check "></i>
                                    </td>
                                    <td>Mettre en place un système (SIGAP) accessible via Internet et permettant aux bailleurs de saisir toutes les informations sur les aides ne passant pas par la loi de finances. L’application devra fournir aussi aux bailleurs les informations sur les décaissements et les amortissements</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td>Mettre en place une zone tampon servant d’interface d'échange entre SIGAP et les systèmes  internes du ministère</td>
                                </tr>
                            </table>
                        </p>
                    </div>
                    <!-- / blog-block -->

                    <div class="space-50">&nbsp;</div>

                    <div class="share">
                        <a href="#" class="btn-social btn-facebook-filled"><i class="fa fa-facebook"></i> <span>Share</span></a>
                        <a href="#" class="btn-social btn-twitter-filled"><i class="fa fa-twitter"></i> <span>Tweet</span></a>
                        <a href="#" class="btn-social btn-google-filled"><i class="fa fa-google"></i> <span>Share on Google+</span></a>
                        <a href="#" class="btn-social btn-pinterest-filled"><i class="fa fa-pinterest"></i> <span>Pin it</span></a>
                    </div>
                </div><!-- / container -->
            </section>
            <!-- / blog content -->
        </div>
    </div>
{% endblock %}