{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <section id="blog">
                <div class="container">
                    <div class="blog block post-content-area padd15">
                        <h3>Système Integré de Gestion de la Dette Publique (SIGED)</h3>
                        <img src="/images/projects/siged/img-001.png" alt="">
                        <p>Contribution en tant que membre de l'équipe de développement à la mise en place du Système Integré de Gestion de la Dette Publique (SIGED) pour la Direction Générale de la Dette Publique.
                            <br>
                            <br>
                        </p>
                    </div>
                    <!-- / blog-block -->

                    <div class="space-50">&nbsp;</div>

                    <div class="share">
                        <a href="#" class="btn-social btn-facebook-filled"><i class="fa fa-facebook"></i> <span>Share</span></a>
                        <a href="#" class="btn-social btn-twitter-filled"><i class="fa fa-twitter"></i> <span>Tweet</span></a>
                        <a href="#" class="btn-social btn-google-filled"><i class="fa fa-google"></i> <span>Share on Google+</span></a>
                        <a href="#" class="btn-social btn-pinterest-filled"><i class="fa fa-pinterest"></i> <span>Pin it</span></a>
                    </div>
                </div><!-- / container -->
            </section>
            <!-- / blog content -->
        </div>
    </div>
{% endblock %}
