{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <section id="blog">
                <div class="container">
                    <div class="blog block post-content-area padd15">
                        <h3>Sit - Programme Gouvernance Locale Redevable (Sit-PGLR)</h3>
                        <img src="/images/projects/sit-pglr/img-001.jpg" alt="">
                        <p>
                            Le Système d’Information sur la Transparence (SIT) du PGLR est une plateforme en ligne que j'ai dévélopée en PHP / Laravel dans le cadre d'un contrat de prestation. Le travail a consisté à mettre en place une solution qui permettra aux collectivités térritoriles de participer au concour
                            de transparence organisé dans le cadre du <a href="https://www.pglrmali.com/">Programme P-GLR</a> 2018.
                            <br>
                            <br>
                        </p>
                    </div>
                    <!-- / blog-block -->

                    <div class="space-50">&nbsp;</div>

                    <div class="share">
                        <a href="#" class="btn-social btn-facebook-filled"><i class="fa fa-facebook"></i> <span>Share</span></a>
                        <a href="#" class="btn-social btn-twitter-filled"><i class="fa fa-twitter"></i> <span>Tweet</span></a>
                        <a href="#" class="btn-social btn-google-filled"><i class="fa fa-google"></i> <span>Share on Google+</span></a>
                        <a href="#" class="btn-social btn-pinterest-filled"><i class="fa fa-pinterest"></i> <span>Pin it</span></a>
                    </div>
                </div><!-- / container -->
            </section>
            <!-- / blog content -->

            <!-- portfolio section 3col -->
            <section id="portfolio">
                <div class="container">
                    <div class="page-header space-left">
                        <h3>Projets similaires<span class="text-primary">.</span></h3>
                    </div>
                    <ul class="row portfolio list-unstyled" id="grid">
                        <li class="col-xs-6 col-md-4 project" data-groups='["design", "creative"]'>
                            <figure>
                                <div class="hovereffect">
                                    <img class="img-responsive" src="/images/liguosoft.jpg" alt="">
                                    <a href="/projects/liguosoft">
                                        <div class="overlay">
                                            <div class="hovereffect-title">
                                                <h6>LiguoSoft - Next Generation Enterprise Resource Planning (ERP)</h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </figure>
                        </li><!-- project -->

                        <!-- sizer -->
                        <li class="col-xs-6 col-md-4 shuffle_sizer"></li>
                    </ul><!-- / row portfolio-items -->
                </div><!-- / container -->
            </section>
            <!-- / portfolio section 3col -->
        </div>
    </div>
{% endblock %}
