{% extends 'base.html.twig' %}

{% block content %}
    <!-- about -->
    <section id="about">
        <div class="container">
            <div class="page-header space-left">
                <h3>About<span class="text-primary">.</span></h3>
            </div>
            <div class="row">
                <div class="col-md-4 feature-left space-bottom">
                    <div class="feature block">
                        <div class="feature-icon">
                            <i class="lnr lnr-user"></i>
                        </div>
                        <h5>Full Name</h5>
                    </div>
                    <p>Warsic Dia</p>
                </div><!-- / feature -->

                <div class="col-md-4 feature-left space-bottom">
                    <div class="feature block">
                        <div class="feature-icon">
                            <i class="lnr lnr-calendar-full"></i>
                        </div>
                        <h5>Bithdate</h5>
                    </div>
                    <p>Aug. 28, 1995</p>
                </div><!-- / feature -->

                <div class="col-md-4 feature-left space-bottom">
                    <div class="feature block">
                        <div class="feature-icon">
                            <i class="lnr lnr-map-marker"></i>
                        </div>
                        <h5>Address</h5>
                    </div>
                    <p>Rue 254 Porte 39. Djelibougou, Bamako, Mali</p>
                </div><!-- / feature -->

            </div><!-- / row -->
            <!-- / features -->

            <!-- certifications -->
            <div class="page-header space-left">
                <h3>Certifications<span class="text-primary">.</span></h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="award">
                        <h5 class="text-primary">Certified Etichal Hacker (CEH)</h5>
                        <p>I successfully completed training in Etichal Hacking and passed the certifications exams to become a Certified Etichal Hacker (CEH)</p>
                    </div>
                </div><!-- / award -->

                <div class="col-md-4">
                    <div class="award">
                        <h5 class="text-primary">Certified Oracle Database Manager</h5>
                        <p>I successfully completed training in Oracle database management and successfully used Oracle databases in production environments for many years at the Ministry of Economy of Mali.</p>
                    </div>
                </div><!-- / award -->

                <div class="col-md-4">
                    <div class="award">
                        <h5 class="text-primary">Certified Professional Scrum Master (PSM I)</h5>
                        <p>I used agile scrum to manage several of your development projects at the Ministry of Economy of Mali. As of 2023, I'm certified Professional Scrum Master (PSM I) and also Scrum Awareness Certified.</p>
                    </div>
                </div><!-- / award -->
            </div><!-- / row -->
            <!-- / awards -->

            <!-- facts -->
            <div id="facts">
                <div class="page-header space-left">
                    <h3>Facts<span class="text-primary">.</span></h3>
                </div>
                <div class="row">
                    <!-- fact -->
                    <div class="col-md-4">
                        <i class="fact-icon lnr lnr-rocket"></i>
                        <h3 class="timer" id="websites" data-to="28" data-speed="1000">18</h3>
                        <h5 class="fact-title">Websites Launched</h5>
                    </div>
                    <!-- /fact -->

                    <!-- fact -->
                    <div class="col-md-4">
                        <i class="fact-icon lnr lnr-pencil"></i>
                        <h3 class="timer" id="apps" data-to="22" data-speed="1500">22</h3>
                        <h5 class="fact-title">Softwares Designed / Developped</h5>
                    </div>
                    <!-- /fact -->

                    <!-- fact -->
                    <div class="col-md-4">
                        <i class="fact-icon lnr lnr-users"></i>
                        <h3 class="timer" id="template" data-to="700" data-speed="1500">700</h3>
                        <h5 class="fact-title">Happy Users</h5>
                    </div>
                    <!-- /fact -->
                </div><!-- / row -->
            </div>
            <!-- / facts -->

            <!-- skills -->
            <div id="skills">
                <div class="page-header space-left">
                    <h3>Skills<span class="text-primary">.</span></h3>
                </div>
                <div class="row">
                    <!-- progress-bars left -->
                    <div class="col-sm-6">
                        <h6 class="progress-title">PHP / Symfony / Laravel</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            </div>
                        </div><!-- / progress -->

                        <h6 class="progress-title">Java / Spring Boot</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            </div>
                        </div><!-- / progress -->

                        <h6 class="progress-title">Angular / ReactJS</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            </div>
                        </div><!-- / progress -->

                        <h6 class="progress-title">Flutter / Ionic</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            </div>
                        </div><!-- / progress -->

                        <h6 class="progress-title">NodeJs</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            </div>
                        </div><!-- / progress -->
                    </div>
                    <!-- / progress-bars left -->

                    <!-- progress-bars right -->
                    <div class="col-sm-6">
                        <h6 class="progress-title">BPMN (Business Process Model and Notation)</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                            </div>
                        </div><!-- / progress -->

                        <h6 class="progress-title">ORACLE / PostgreSQL / MySQL (SQL)</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            </div>
                        </div><!-- / progress -->

                        <h6 class="progress-title">MongoDB / Redis (NoSQL)</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            </div>
                        </div><!-- / progress -->

                        <h6 class="progress-title">AWS (Amazon Web Services)</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            </div>
                        </div><!-- / progress -->

                        <h6 class="progress-title">Microsoft Azure</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            </div>
                        </div><!-- / progress -->
                    </div>
                    <!-- / progress-bars right -->
                </div><!-- / row -->
            </div>
            <!-- / skills -->
        </div><!-- / container -->
    </section>
    <!-- / about -->

    <!-- education -->
    <section id="education">
        <div class="container">
            <div class="page-header">
                <h3>Education<span class="text-primary">.</span></h3>
            </div>
            <div class="timeline border-color">

                <div class="timeline-item">
                    <div class="timeline-point off-timeline-point point-color"></div>
                    <div class="row">
                        <div class="col-md-3 timeline-info">
                            <p class="timeline-date">2013-2016</p>
                            <h4 class="timeline-com">Sup' Manangement - Bachelor</h4>
                            <h6 class="timeline-role">Systems engineering - networks and telecommunications</h6>
                            <p class="timeline-location">Bamako, MALI</p>
                        </div><!-- / timeline-info -->
                        <div class="col-md-9 timeline-details">
                            <p>
                                During this cycle of studies, I learned to manage linux and windows servers. This gave the ability to configure servers and install usefull services like Active Directory, DNS, DHCP and other stuffs. I also learned to secure systems and networks infrastructures by implementing firewalls. Those three years helped me to practice and become a successfull systems operator.
                            </p>
                        </div><!-- / timeline-details -->
                    </div><!-- / row -->
                </div><!-- / timeline-item -->

                <div class="timeline-item">
                    <div class="timeline-point  off-timeline-point  point-color"></div>
                    <div class="row">
                        <div class="col-md-3 timeline-info">
                            <p class="timeline-date">2016-2018</p>
                            <h4 class="timeline-com">Sup' Manangement - MBA</h4>
                            <h6 class="timeline-role">Systems engineering - networks and telecommunications</h6>
                            <p class="timeline-location">Bamako, MALI</p>
                        </div><!-- / timeline-info -->
                        <div class="col-md-9 timeline-details">
                            <p>
                                During MBA cycle, I went deeper in software design process. I worked on a software building theis. I was responsible of designing and implementing a school management software from scratch. I learned a set of software development best practices that really help me today to easily understand other people's software and maintain any existing software on the market.
                            </p>
                        </div><!-- / timeline-details -->
                    </div><!-- / row -->
                </div><!-- / timeline-item -->

            </div><!-- / timeline -->
        </div><!-- / container -->
    </section>
    <!-- / education -->

    <!-- experience -->
    <section id="experience">
        <div class="container">
            <div class="page-header">
                <h3>Experience<span class="text-primary">.</span></h3>
            </div>
            <div class="timeline  border-color">

                <div class="timeline-item">
                    <div class="timeline-point  off-timeline-point  point-color"></div>
                    <div class="row">
                        <div class="col-md-3 timeline-info">
                            <p class="timeline-date">2017-2022</p>
                            <h4 class="timeline-com">Ministry of Economy of Mali</h4>
                            <h6 class="timeline-role">Software Engineer</h6>
                            <p class="timeline-location">Bamako, MALI</p>
                        </div><!-- / timeline-info -->
                        <div class="col-md-9 timeline-details">
                            <p>
                                We develop and maintain computer solutions for all the departments of the Ministry of Economy. I focus on developing and maintaining
                                web applications as part of a passionate team. We use recent technologies like Spring Boot, Angular
                                10+ and many other interesting stuffs. I also help database administrators and system administraors automate serveral of their manual tasks.
                            </p>
                        </div><!-- / timeline-details -->
                    </div><!-- / row -->
                </div><!-- / timeline-item -->

                <div class="timeline-item">
                    <div class="timeline-point off-timeline-point point-color"></div>
                    <div class="row">
                        <div class="col-md-3 timeline-info">
                            <p class="timeline-date">2021-2022</p>
                            <h4 class="timeline-com">Kintech</h4>
                            <h6 class="timeline-role">Lead Developer</h6>
                            <p class="timeline-location">Bamako, MALI</p>
                        </div><!-- / timeline-info -->
                        <div class="col-md-9 timeline-details">
                            <p>
                                KinTech is a malian startup founded in 2020. As a co-founder and the lead developer, my mission was to help and assist customer companies in their digital transformations.
                                Our latest mission was about to set up Odoo ERP for the company <a href="https://eakmali.com">EAK GROUP</a> and the results were very statisfying. I also provided trainings and supported the end users in a daily basis.
                            </p>
                        </div><!-- / timeline-details -->
                    </div><!-- / row -->
                </div><!-- / timeline-item -->

            </div><!-- / timeline -->
        </div><!-- / container -->
    </section>
    <!-- / experience -->

    <!-- portfolio -->
    <section id="portfolio">
        <div class="container">
            <div class="page-header space-left">
                <h3>Portfolio<span class="text-primary">.</span></h3>
            </div>
            <ul class="portfolio-filter list-inline space-left">
                <li><a href="#" data-group="all" class="active">Tout</a></li>
                <li><a href="#" data-group="software">Logiciel</a></li>
                <li><a href="#" data-group="web">Web</a></li>
                <li><a href="#" data-group="mobile">Mobile</a></li>
            </ul>
            <ul class="row portfolio list-unstyled" id="grid">
                <li class="col-xs-6 col-md-4 project" data-groups='["software", "mobile"]'>
                    <figure>
                        <div class="hovereffect">
                            <img class="img-responsive" src="/images/liguosoft.jpg" alt="">
                            <a href="projects/liguosoft">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <h6>LiguoSoft - Next Generation Enterprise Resource Planning (ERP)</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </figure>
                </li>

                <li class="col-xs-6 col-md-4 project" data-groups='["web", "mobile"]'>
                    <figure>
                        <div class="hovereffect">
                            <img class="img-responsive" src="/images/sit-pglr.jpg" alt="">
                            <a href="projects/sit-pglr">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <h6>Sit - Programme Gouvernance Locale Redevable (Sit-PGLR)</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </figure>
                </li>

                <li class="col-xs-6 col-md-4 project" data-groups='["web", "software", "mobile"]'>
                    <figure>
                        <div class="hovereffect">
                            <img class="img-responsive" src="/images/sigap.jpg" alt="">
                            <a href="projects/sigap">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <h6>Système Intégré de Gestion de l'Aide Publique (SIGAP)</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </figure>
                </li>

                <li class="col-xs-6 col-md-4 project" data-groups='["software"]'>
                    <figure>
                        <div class="hovereffect">
                            <img class="img-responsive" src="/images/sigrh.jpg" alt="">
                            <a href="projects/sigrh">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <h6>Système Intégré de Gestion des Ressources Humaines (SIGRH)</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </figure>
                </li>

                <li class="col-xs-6 col-md-4 project" data-groups='["software"]'>
                    <figure>
                        <div class="hovereffect">
                            <img class="img-responsive" src="/images/siged.jpg" alt="">
                            <a href="projects/siged">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <h6>Système Integré de Gestion de la Dette Publique (SIGED)</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </figure>
                </li>

                <li class="col-xs-6 col-md-4 project" data-groups='["software"]'>
                    <figure>
                        <div class="hovereffect">
                            <img class="img-responsive" src="/images/sigmif.jpg" alt="">
                            <a href="projects/sigmif">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <h6>Système Intégré de Gestion des Missions de l'Inspection des Finances (SIGMIF)</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </figure>
                </li>

                <li class="col-xs-6 col-md-4 shuffle_sizer"></li>
            </ul>
        </div>
    </section>
    <!-- / portfolio -->

    <!-- journal -->
    <!--
    <section id="journal">
        <div class="container">
            <div class="page-header space-left">
                <h3>Journal<span class="text-primary">.</span></h3>
            </div>
            <div id="posts-carousel" class="owl-carousel">
                <div class="blog block carousel-post">
                    <img src="/images/post1.jpg" alt="">
                    <h5>Post Title</h5>
                    <p>Quisque eu eleifend sapien. Sed et eros non nibh eleifend nuiqe rhoncus mauris tempus [...]</p>
                    <a href="single-post.html">Read More...</a>
                </div>

                <div class="blog block carousel-post">
                    <img src="/images/post2.jpg" alt="">
                    <h5>Post Title</h5>
                    <p>Quisque eu eleifend sapien. Sed et eros non nibh eleifend nuiqe rhoncus mauris tempus [...]</p>
                    <a href="single-post.html">Read More...</a>
                </div>

                <div class="blog block carousel-post">
                    <img src="/images/post3.jpg" alt="">
                    <h5>Post Title</h5>
                    <p>Quisque eu eleifend sapien. Sed et eros non nibh eleifend nuiqe rhoncus mauris tempus [...]</p>
                    <a href="single-post.html">Read More...</a>
                </div>

                <div class="blog block carousel-post">
                    <img src="/images/post4.jpg" alt="">
                    <h5>Post Title</h5>
                    <p>Quisque eu eleifend sapien. Sed et eros non nibh eleifend nuiqe rhoncus mauris tempus [...]</p>
                    <a href="single-post.html">Read More...</a>
                </div>

                <div class="blog block carousel-post">
                    <img src="/images/post5.jpg" alt="">
                    <h5>Post Title</h5>
                    <p>Quisque eu eleifend sapien. Sed et eros non nibh eleifend nuiqe rhoncus mauris tempus [...]</p>
                    <a href="single-post.html">Read More...</a>
                </div>

                <div class="blog block carousel-post">
                    <img src="/images/post6.jpg" alt="">
                    <h5>Post Title</h5>
                    <p>Quisque eu eleifend sapien. Sed et eros non nibh eleifend nuiqe rhoncus mauris tempus [...]</p>
                    <a href="single-post.html">Read More...</a>
                </div>
            </div>
        </div>
    </section>
    -->
    <!-- / journal -->

    <!-- contact -->
    <section id="contact">
        <div class="container">
            <div class="page-header space-left">
                <h3>Contact<span class="text-primary">.</span></h3>
            </div>
            <div class="row">
                <div class="col-md-6 space-bottom">
                    <div class="contact-description">
                        <h5>Intereseted in my profile?</h5>
                        <p>I'm currently looking for new opportunities and new challenges. Don't hesitate to contact me by E-mail or phone </p>
                    </div><!-- / feature-description -->

                    <div class="space-25">&nbsp;</div>

                    <div class="row">
                        <div class="col-sm-6 feature-left space-top">
                            <div class="feature block">
                                <div class="feature-icon">
                                    <i class="lnr lnr-phone"></i>
                                </div>
                                <h5>Telephone</h5>
                                <a href="tel:+22375958969">+223 75 95 89 69</a>
                            </div><!-- / feature-block -->
                        </div><!-- / col-md-6 feature-left -->

                        <div class="col-sm-6 feature-left space-top">
                            <div class="feature block">
                                <div class="feature-icon">
                                    <i class="lnr lnr-envelope"></i>
                                </div>
                                <h5>Email</h5>
                                <a href="mailto:warsicdia@gmail.com" class="contact-info-text">warsicdia@gmail.com</a>
                            </div><!-- / feature-block -->
                        </div><!-- / col-md-6 feature-left -->
                    </div><!-- / row -->

                    <div class="row">
                        <div class="col-sm-6 feature-left space-top">
                            <div class="feature block">
                                <div class="feature-icon">
                                    <i class="lnr lnr-home"></i>
                                </div>
                                <h5>Home Address</h5>
                                <p>Rue 254 Porte 39 Djelibougou, Bamako, Mali</p>
                            </div><!-- / feature-block -->
                        </div><!-- / col-md-6 feature-left -->
                    </div><!-- / row -->

                </div><!-- / col-md-6 -->

                <div class="col-md-6">
                    <!-- contact form-->
                    <div id="contact-form-1">
                        <form id="contactForm" data-toggle="validator">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Full Name" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Email" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <textarea id="message" class="form-control" rows="5" placeholder="Message" required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <button type="submit" id="form-submit" class="btn btn-md btn-primary-filled btn-form-submit">Send Message</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </form>
                    </div><!-- / contact form -->
                </div><!-- / col-md-6 -->
            </div><!-- / row -->
        </div><!-- / container -->
    </section>
    <!-- / contact -->
{% endblock %}

{% block javascripts %}
    <!-- facts counter -->
    <script src="/js/jquery.countTo.js"></script>
    <script type="text/javascript">
        $('.timer').countTo({
            refreshInterval: 60,
            formatter: function (value, options) {
                return value.toFixed(options.decimals);
            },
        });
    </script>
    <!-- / facts counter -->

    <!-- portfolio script -->
    <script src="/js/jquery.shuffle.min.js"></script>
    <script src="/js/custom.js"></script>
    <!-- / portfolio script -->

    <!-- posts carousel -->
    <script src="/js/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#posts-carousel").owlCarousel({
                items : 3,
                itemsDesktop : [1199,3],
                itemsDesktopSmall : [979,3]
            });

        });
    </script>
    <!-- / posts carousel -->
{% endblock %}